@tailwind base;
@tailwind components;
@tailwind utilities;

/* твои кастомные базовые стили */
:root {
  --brand: #FFB800;
}
body {
  background: #050505;
  color: white;
  margin: 0;
  font-family: sans-serif;
}
